<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div th:fragment="search-list" th:each="job : ${jobs}">
        <table th:each="value : ${job}" class="job-listing">
            <tr>
                <td>ID:</td>
                <td th:text="${value.id}"></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td th:text="${value.name}"></td>
            </tr>
            <tr>
                <td>Employer:</td>
                <td>
                    <a th:href="@{/list/jobs(column='employer',value=${value.employer})}" th:text="${value.employer}"></a>
                </td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>
                    <a th:href="@{/list/jobs(column='location',value=${value.location})}" th:text="${value.location}"></a>
                </td>
            </tr>
            <tr>
                <td>Position Type:</td>
                <td>
                    <a th:href="@{/list/jobs(column='positionType',value=${value.positionType})}" th:text="${value.positionType}"></a>
                </td>
            </tr>
            <tr>
                <td>Skill:</td>
                <td>
                    <a th:href="@{/list/jobs(column='coreCompetency',value=${value.coreCompetency})}" th:text="${value.coreCompetency}"></a>
                </td>
            </tr>
        </table>
    </div>

    <li th:each="item : ${category.value}">
        <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>

</body>
</html>